//- mixin-banner轮播
mixin _banner
	._banner.fn-clear
		.box
			a.active(href="")
				img(src="../../img/201638175611.jpg", alt="")
			a(href="")
				img(src="../../img/201638175220.jpg", alt="")
			a(href="")
				img(src="../../img/201638175892.jpg", alt="")
		.list.fn-right
			span.active
				img(src="../../img/201638175611.jpg", alt="")
			span
				img(src="../../img/201638175220.jpg", alt="")
			span
				img(src="../../img/201638175892.jpg", alt="")