//- mixin-banner轮播
mixin _banner
	._banner.fn-clear
		.slideBox
			ul.items
				li.active
					a(href="")
						img(src="../img/201638175220.jpg", alt="xxx")
				li
					a(href="")
						img(src="../img/201638175611.jpg", alt="xxx")
				li
					a(href="")
						img(src="../img/201638175892.jpg", alt="xxx")
