//- mixin-banner轮播
mixin _banner
	._banner.fn-clear
		.slideBox.box
			ul.items
				li.active
					a(href="")
						img.img-fill(src="../img/201638175220.jpg", alt="xxx")
				li
					a(href="")
						img.img-fill(src="../img/201638175611.jpg", alt="xxx")
				li
					a(href="")
						img.img-fill(src="../img/201638175892.jpg", alt="xxx")
