//- mixin-页脚
mixin _footer
	._footer.fn-clear
		+_nav
		.box
			p 
				|注文受付連絡先：
				a(href="") kopi6jp@yeah.net 
				||店長：藤原 香子|営業時間：09：00～24：00(24时间受付中 ) <br>当HPに掲載されている画像・テキストなどの無断複製、無断転載を禁じます。
		.code
			p 网站流量统计系统

