//- mixin-页头
mixin _header
	._head.fn-clear
		.htop.fn-clear
			.scroll.fn-left
				marquee(direction="left",behavior="scroll",scrollamount="3") 藤原宝飾会員優待のイベント情報：新規会員登録、注文金額2万円以上，記念品を贈る（一回制限）。累計注文金額5万円以上，贈呈価値5000円商品。累計注文金額10万円以上，贈呈価値12000円商品。累計注文金額20万円以上，贈呈価値3万円商品。累計注文金額50万円以上，贈呈価値10万円商品。累計注文金額100万円以上，贈呈価値25万円商品。
			.txt.fn-right.icon-index_02 弊社はい日本＆中国最大のスーパーコピーブランド 専門店。
		.mid.fn-clear
			a.logo(href="")
				img(src="../img/2016381926767.jpg", alt="")
			+_search
			.cart.fn-clear
				a(href="")
					img(src="../img/index_06.png", alt="")
				a(href="")
					img(src="../img/index_08.png", alt="")
		.author
			p(align="center")
				span 店長：藤原 香子&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				img(src="../img/letter.png", alt="")
				span :
				a(href="") kopi6jp@yeah.net
				|&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 	
				strong
					span(style="color:#e53333")  營業時間：9:00-24:00&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 注文受付：24小时受付
		+_nav