//- mixin-导航栏
mixin _nav
	._nav
		a(href="") ホーム
		span 
		a(href="") 会社概要
		span 
		a(href="") 注文方法
		span 
		a(href="") 最新情報
		span 
		a(href="") 重要事项
		span 
		a(href="") 商品一覧
		span 
		a(href="") 割引情报
		span 
		a(href="") FAQ