mixin _tab
	._tab
		.tab-nav.fn-clear
			- for (var i = 0, len = arguments.length; i < len; i++) {
				span(data-target = 'tab-' + i) #{arguments[i]}
			- }
		.tab-content.fn-clear
			- for (var i = 0, len = arguments.length; i < len; i++) {
				div.tab-pane(class = (i === 0 ? 'active' : ''), id = 'tab-' + i)
					if block
						block
					else
						12345
			- }

//- mixin-导航栏
mixin _nav
	._nav
		a(href="") ホーム
		a(href="") 会社概要
		a(href="") 注文方法
		a(href="") 最新情報
		a(href="") 重要事项
		a(href="") 商品一覧
		a(href="") 割引情报
		a(href="") FAQ
//- 侧边商品导航
mixin _side-nav
	._side-nav
		.title
			i.icon-item
			span 商品一览
		mixin item
			.subtitle
				i.icon-class
				a(href="") スーパーコピー時計
			ul
				li.item
					a ロレックス
					ul.the-box
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
				li.item
					a ロレックス
					ul.the-box
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
				li.item
					a ロレックス
					ul.the-box
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
				li.item
					a ロレックス
					ul.the-box
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
				li.item
					a ロレックス
					ul.the-box
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
						li
							a(href="") クラシック
		+item
		+item
		+item
