//- mixin-导航栏
mixin _nav
	._nav
		a(href="") ホーム
		span
		a(href="") 会社概要
		span
		a(href="") 注文方法
		span
		a(href="") 最新情報
		span
		a(href="") 重要事项
		span
		a(href="") 商品一覧
		span
		a(href="") 割引情报
		span
		a(href="") FAQ
//- 侧边商品导航
mixin _side-nav
	._side-nav
		.title
			img(src="../img/index_52.png", alt="")
		mixin item
			.subtitle.icon-index_57
				a(href="") スーパーコピー時計
			ul
				li.item
					span
						i
					a ロレックス
					ul.the-box
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
				li.item
					span
						i
					a ロレックス
					ul.the-box
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
				li.item
					span
						i
					a ロレックス
					ul.the-box
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
				li.item
					span
						i
					a ロレックス
					ul.the-box
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
				li.item
					span
						i
					a ロレックス
					ul.the-box
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
						li
							span
								i
							a(href="") クラシック
		+item
		+item
		+item
