//- mixin-分页
mixin _paging
	._paging
		span その結果 1/168, 合計ページ 4012
		.list
			a.prev(href="") << 次の
			a.current(href="") 1
			a(href="") 2
			a(href="") 3
			a(href="") 4
			a(href="") 5
			a(href="") 6
			a.next(href="") 次の >>