//- mixin-板块
//- ems
mixin _ems
	._ems.border
		.title
			img(src="../img/index_49.png", alt="")
		.demo.js-scroll-v(data-height="198")
			ul.demo1.js-scroll1
				li.item
					a(href="") •斎藤 様 番号:EA069050749CN
				li.item
					a(href="") •斎藤 様 番号:EA069050749CN
				li.item
					a(href="") •斎藤 様 番号:EA069050749CN
				li.item
					a(href="") •斎藤 様 番号:EA069050749CN
				li.item
					a(href="") •斎藤 様 番号:EA069050749CN
				li.item
					a(href="") •斎藤 様 番号:EA069050749CN
			ul.demo2.js-scroll2
//- 最新制品
mixin _pro-new
	._pro-new.border
		.title
			img(src="../img/index_64.png", alt="")
		.demo.js-scroll-v(data-height="485")
			ul.demo1.js-scroll1
				mixin item
					li.item
						.new-ibox
							.new-img
								a(href="")
									img(src="../img/201612111295520101.jpg", alt="")
						ul
							li
								a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-290
							li N品：27800円
				+item
				+item
				+item
				+item
				+item
			ul.demo2.js-scroll2
//- 产品新闻
mixin _pro-new-txt
	.product
		.title
			i.icon-index_31
			span 一番新しいアップロード
		.box.border._pro-new-txt.fn-clear
			ul
				li
					i
					a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				li
					i
					a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				li
					i
					a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				li
					i
					a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				li
					i
					a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				li
					i
					a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				li
					i
					a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				li
					i
					a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
//- 热卖商品
mixin _pro-sell
	.product.top.scroll-pro.icon-index_46
		.title
			i.icon-index_31
			span 売り上げランキング
		._pro-sell.fn-clear.js-scroll-h
			.scroll-auto.fn-clear
				.scroll1.fn-clear
					mixin item
						.item
							span 1
							.ibox
								.img
									a(href="")
										img(src="../img/201642011149160101.jpg", alt="")
							p.t
								a(href="") カルティエ ミニサントス コピー ドゥモワゼル W25077X9
							p.p N品：19000円 
					+item 
					+item 
					+item  
					+item 
					+item 
					+item 
					+item 
				.scroll2.fn-clear
//- 人气商品
mixin _pro-hot
	.product.top
		.title
			i.icon-index_31
			span 人気商品
		._pro-hot.fn-clear
			mixin item
				.item
					.ibox
						.img
							a(href="")
								img(src="../img/201651413453270101.jpg", alt="")
					p.t
						a(href="") ブレゲ マリーン レプリカ ラージデイト 5817ST/12/5V8
					p.p N品：23500円   
					a.btn 購入商品
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
//- 最新商品
mixin _pro-new-pic
	.product.top
		.title
			i.icon-index_31
			span 一番新しいアップロード
		._pro-new-pic
			.pro-tab.top.fn-clear
				span.t-1.icon-tab_03.icon-tab_06 スーパーコピー時計
				span.t-2.icon-tab_03 スーパーコピーバッグ
				span.t-3.icon-tab_03 スーパーコピー財布
				span.t-4.icon-tab_03 その他商品
			.tab-pro-box.fn-clear
				mixin box
					.box.fn-clear
						mixin item
							.item
								.ibox
									.img
										a(href="")
											img(src="../img/201651413453270101.jpg", alt="")
								p.t
									a(href="") ブレゲ マリーン レプリカ ラージデイト 5817ST/12/5V8
								p.p N品：23500円   
								a.btn 購入商品
						+item
						+item
						+item
						+item
						+item
						+item
						+item
						+item
						+item
						+item
				+box
				+box
				+box
				+box
//- 使用指南
mixin _handbook
	.product.fn-clear
		.title
			i.icon-index_31
			span ご利用案内
		._handbook
			.alone-left
				img(src="../img/alone_04.png", alt="")
				.cont
					span.red ※ご注文
					p 営業時間9:00～24:00 ご注文受付、24時間受け付けております。 メールご注文は9:00～24:00の受け付けとなっております。
					span.green ※お問い合わせ
					p ホームページ.メールのお問い合わせは、24時間受け付けております。 サーバメンテナンス等でお休みを頂く場合や、年末年始等の長期休暇の際にはサイト上にてご案内させて頂きます。
					span.green 返品について
					p お客様の都合による商品の返品/交換、キャンセル等は承っておりません。お届けした商品に破損や品違いがございましたら、商品到着後3日以内にご連絡ください。
					span.green 受注発注について
					p 「受注発注」表記の仕様は、ご決済完了後にお取り寄せする商品です。在庫状況により5日から最大2週間程度お時間を頂く場合がございます。予め納期をご確認の上、ご購入いただきますようお願いいたします。
			.alone-right
				img(src="../img/alone_05.png", alt="")
				.cont
					p ご注文いただいた商品は、ご決済完了後に発送手配を開始いたします。在庫のある商品は約1-2週間でのお届けとなります。配送状況、配送エリアによってさらにお時間がかかる場合があります。
					span.red お支払い方法について
					p 1 銀行振り込み ご注文完了後に弊社より在庫の有無をメールにてお知らせいたします。メールをお受け取り頂いた後に、指定の口座に代金を振り込んでいただきます。弊社でご入金を確認後、発送手配をいたします。 
					p 2 送料は日本全国一律送料无料です。
					p 3 振込手数料振込手数料は、お振込み時にご確認下さい。振込手数料はお客様のご負担となりますのでご了承下さい。 
					p 4 商品発送手配完了後、E-mailにて配送日のご連絡をさせていただきます。
					p ※ ご注文が集中した場合や、土日祝日・弊社休業日による連休がある場合、弊社倉庫における棚卸し時期及びその前後の時期には、納品までに通常より長い時間がかかることがあります。予めご了承ください。
//- 品牌专区
mixin _brand
	._brand.top.fn-clear
		.title
			span ブランド專區 
			a(href="") もっと見る>>
		.box 
			mixin item
				a(href="")
					img(src="../img/20163102123892.jpg", alt="")
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
//- 购物车组件
mixin _shopTrolley
	._shopTrolley
		table
			tbody
				tr
					td.td_btm.td_btm_r 商品
					td.td_btm.td_btm_r 価格
					td.td_btm.td_btm_r 数量
					td.td_btm.td_btm_r 小計
					td.td_btm.td_btm_r 削除
				mixin item
					tr
						td.td_pro.td_btm_r 
							|`
							.td_img
								ul.fn-clear
									li.img
										a(href="")
											img(src="../img/20167111146700101.jpg", alt="")
									li.txt
										a(href="") エルメスHERMES スーパーコピー クリッパー
						td.td_pro.td_btm_r 
							|価格:23500円
							br
							br
							span.vip(style="display:none") 会員価格:500円
						td.td_pro.td_btm_r 
							input(type="text" style="display:none")
							select
								option(value="1",selected) 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
								option(value="6") 6
								option(value="7") 7
								option(value="8") 8
								option(value="9") 9
								option(value="10") 10
							input(type="text" style="display:none")
						td.td_pro.td_btm_r 
							|23500円
							br
							br
							span.vip(style="display:none") 500円
						td.td_pro.td_btm_r 
							input(type="button" value="削除")
				+item
				+item
				tr
					td.sum(colspan=5)
						span 合計:47000円
				tr
					td.sum-vip(colspan=5)
						span 会員合計:1000円
		.end
			ul
				li
					|数量・ラッピングを変更したら、更新ボタンをクリックしてください。
					input(type="button" value="更新")
					span.update(style="visibility:hidden") 更新中
				li.ta-r
					a(href="")
						img(src="../img/b_03.png", alt="")


			

