//- mixin-板块
//- 侧边滚动栏
mixin _ems
	._ems.border
		.title
			img(src="../img/index_49.png", alt="")
		.demo
			ul.demo1
				li
					a(href="") •斎藤 様 番号:EA069050749CN
				li
					a(href="") •斎藤 様 番号:EA069050749CN
				li
					a(href="") •斎藤 様 番号:EA069050749CN
				li
					a(href="") •斎藤 様 番号:EA069050749CN
				li
					a(href="") •斎藤 様 番号:EA069050749CN
				li
					a(href="") •斎藤 様 番号:EA069050749CN
			ul.demo2