//- mixin-板块
//- 公用窗口1
mixin _widget(n,c,r)
	._widget.fn-clear(class=c ? c : "")
		.title
			i.icon-item
			span #{n}
			a.fn-right #{r}
		.content
			if block
				block
			else
				p No content provided

//- 公用窗口2
mixin _box(n)
	._box.border.fn-clear.top
		.tab-title
			span #{n}
		.tab-box

//- 侧边产品信息
mixin _side-info
	._side-info

//- ems
mixin _ems
	+_widget('EMS追踪', 'wid-side-r')
		._ems
			.demo.js-scroll-v(data-height="198")
				ul.demo1.js-scroll1
					li.js-item
						a(href="") •斎藤 様 番号:EA069050749CN
					li.js-item
						a(href="") •斎藤 様 番号:EA069050749CN
					li.js-item
						a(href="") •斎藤 様 番号:EA069050749CN
					li.js-item
						a(href="") •斎藤 様 番号:EA069050749CN
					li.js-item
						a(href="") •斎藤 様 番号:EA069050749CN
					li.js-item
						a(href="") •斎藤 様 番号:EA069050749CN
				ul.demo2.js-scroll2
//- 最新制品
mixin _pro-new
	+_widget('最新制品')
		._pro-new.border
			.demo.js-scroll-v(data-height="485")
				ul.demo1.js-scroll1
					mixin item
						li.js-item
							.new-ibox
								.new-img
									a(href="")
										img(src="../img/201612111295520101.jpg", alt="")
							ul
								li
									a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-290
								li N品：27800円
					+item
					+item
					+item
					+item
					+item
				ul.demo2.js-scroll2
//- 产品新闻
mixin _pro-new-txt
	+_widget('一番新しいアップロード', 'wid-side-l')
		ul.fn-clear._pro-new-txt
			li
				i
				a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				span.time 16/10/10
			li
				i
				a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				span.time 16/10/10
			li
				i
				a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				span.time 16/10/10
			li
				i
				a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				span.time 16/10/10
			li
				i
				a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				span.time 16/10/10
			li
				i
				a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				span.time 16/10/10
			li
				i
				a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				span.time 16/10/10
			li
				i
				a(href="") モンクレール☆MONCLER ダウンジャケット レディース moncler-292
				span.time 16/10/10
//- 热卖商品
mixin _pro-sell
	+_widget('売り上げランキング')
		._pro-sell.fn-clear.js-scroll-h
			.scroll-auto.fn-clear
				mixin item
					.pro-item
						span 1
						.ibox
							.img
								a(href="")
									img(src="../img/201642011149160101.jpg", alt="")
						p.t
							a(href="") カルティエ ミニサントス コピー ドゥモワゼル W25077X9
						p.p N品：19000円 
				+item 
				+item 
				+item  
				+item 
				+item 
				+item 
				+item 
//- 人气商品
mixin _pro-hot
	+_widget('人気商品')
		._pro-hot.fn-clear
			mixin item
				.pro-item
					.ibox
						.img
							a(href="")
								img(src="../img/201651413453270101.jpg", alt="")
					p.t
						a(href="") ブレゲ マリーン レプリカ ラージデイト 5817ST/12/5V8
					p.p N品：23500円   
					a.btn 購入商品
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
//- 相关商品
mixin _pro-relate
	+_widget('相關產品')
		._pro-relate.fn-clear
			mixin item
				.pro-item
					.ibox
						.img
							a(href="")
								img(src="../img/201651413453270101.jpg", alt="")
					p.t
						a(href="") ブレゲ マリーン レプリカ ラージデイト 5817ST/12/5V8
					p.p N品：23500円   
					a.btn 購入商品
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
//- 最新商品
mixin _pro-new-pic
	+_widget('一番新しいアップロード')
		._pro-new-pic.top
			+_tab('スーパーコピー時計', 'スーパーコピーバッグ', 'スーパーコピー財布', 'その他商品')
				mixin box
					.box.fn-clear
						mixin item
							.pro-item
								.ibox
									.img
										a(href="")
											img(src="../img/201651413453270101.jpg", alt="")
								p.t
									a(href="") ブレゲ マリーン レプリカ ラージデイト 5817ST/12/5V8
								p.p N品：23500円   
								a.btn 購入商品
						+item
						+item
						+item
						+item
						+item
						+item
						+item
						+item
						+item
						+item
				+box
//- 使用指南
mixin _handbook
	+_widget('ご利用案内')
		._handbook
			.alone-left
				img(src="../img/alone_04.png", alt="")
				.cont
					span.red ※ご注文
					p 営業時間9:00～24:00 ご注文受付、24時間受け付けております。 メールご注文は9:00～24:00の受け付けとなっております。
					span.green ※お問い合わせ
					p ホームページ.メールのお問い合わせは、24時間受け付けております。 サーバメンテナンス等でお休みを頂く場合や、年末年始等の長期休暇の際にはサイト上にてご案内させて頂きます。
					span.green 返品について
					p お客様の都合による商品の返品/交換、キャンセル等は承っておりません。お届けした商品に破損や品違いがございましたら、商品到着後3日以内にご連絡ください。
					span.green 受注発注について
					p 「受注発注」表記の仕様は、ご決済完了後にお取り寄せする商品です。在庫状況により5日から最大2週間程度お時間を頂く場合がございます。予め納期をご確認の上、ご購入いただきますようお願いいたします。
			.alone-right
				img(src="../img/alone_05.png", alt="")
				.cont
					p ご注文いただいた商品は、ご決済完了後に発送手配を開始いたします。在庫のある商品は約1-2週間でのお届けとなります。配送状況、配送エリアによってさらにお時間がかかる場合があります。
					span.red お支払い方法について
					p 1 銀行振り込み ご注文完了後に弊社より在庫の有無をメールにてお知らせいたします。メールをお受け取り頂いた後に、指定の口座に代金を振り込んでいただきます。弊社でご入金を確認後、発送手配をいたします。 
					p 2 送料は日本全国一律送料无料です。
					p 3 振込手数料振込手数料は、お振込み時にご確認下さい。振込手数料はお客様のご負担となりますのでご了承下さい。 
					p 4 商品発送手配完了後、E-mailにて配送日のご連絡をさせていただきます。
					p ※ ご注文が集中した場合や、土日祝日・弊社休業日による連休がある場合、弊社倉庫における棚卸し時期及びその前後の時期には、納品までに通常より長い時間がかかることがあります。予めご了承ください。
//- 品牌专区
mixin _brand-zone
	+_widget('品牌专区', '', 'もっと見る>>')
		._brand.fn-clear
			mixin item
				a(href="")
					img(src="../img/20163102123892.jpg", alt="")
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
//- 购物车组件
mixin _shopTrolley
	._shopTrolley
		table
			tbody
				tr
					td.td_btm.td_btm_r 商品
					td.td_btm.td_btm_r 価格
					td.td_btm.td_btm_r 数量
					td.td_btm.td_btm_r 小計
					td.td_btm.td_btm_r 削除
				mixin item
					tr
						td.td_pro.td_btm_r 
							|`
							.td_img
								ul.fn-clear
									li.img
										a(href="")
											img(src="../img/20167111146700101.jpg", alt="")
									li.txt
										a(href="") エルメスHERMES スーパーコピー クリッパー
						td.td_pro.td_btm_r 
							span 価格:23500円
							br
							br
							span.vip(style="display:none") 会員価格:500円
						td.td_pro.td_btm_r 
							input(type="text" style="display:none")
							select
								option(value="1",selected) 1
								option(value="2") 2
								option(value="3") 3
								option(value="4") 4
								option(value="5") 5
								option(value="6") 6
								option(value="7") 7
								option(value="8") 8
								option(value="9") 9
								option(value="10") 10
							input(type="text" style="display:none")
						td.td_pro.td_btm_r 
							span 23500円
							br
							br
							span.vip(style="display:none") 500円
						td.td_pro.td_btm_r 
							input(type="button" value="削除")
				+item
				+item
				tr
					td.sum(colspan=5)
						span 合計:47000円
				tr
					td.sum-vip(colspan=5)
						span 会員合計:1000円
		.end
			ul
				li
					|数量・ラッピングを変更したら、更新ボタンをクリックしてください。
					input(type="button" value="更新")
					span.update(style="visibility:hidden") 更新中
				li.ta-r
					a(href="")
						img(src="../img/b_03.png", alt="")
//-vip表单
mixin _vipForm
	.vip
		table
			tbody
				tr
					td.td_top
						|お名前
						span *
					td.td_right
						input(name="name", type="text", class="len n-need")
						|（例:田中太郎）
				tr
					td.td_top
						|フリガナ
						span *
						|（カタカナ）
					td.td_right
						input(name="xing", type="text", class="len x-need")
						|（例:タナカタロウ）
				tr
					td.td_top
						|郵便番号
						span *
						|（半角数字、ハイフンなし）
					td.td_right
						input(name="postcart", type="text", class="len p-need")
						|（例:1430001）
				tr
					td.td_top
						|都道府県
						span *
					td.td_right
						select(name="province")
							option(value="0") 都道府県
							option(value="1") 都道府県
							option(value="2") 都道府県
							option(value="3") 都道府県
							option(value="4") 都道府県
							option(value="5") 都道府県
							option(value="6") 都道府県
							option(value="7") 都道府県
							option(value="8") 都道府県
							option(value="9") 都道府県
				tr(style="display:none")
					td.td_top
						|市区町村
						span *
					td.td_right
						input(name="city", type="text", class="len c-need")
						|（例:港区南麻布）
				tr
					td.td_top
						|詳しい住所
						span *
					td.td_right
						input(name="address", type="text", class="len a-need")
						|（例:1-1-1 AAビル202）
				tr
					td.td_top
						|電話番号
						span *
						|（半角数字、ハイフンなし）
					td.td_right
						input(name="tel", type="number", class="len t-need")
						|（例:0120123456）
				tr
					td.td_top
						|メールアドレス
						span *
						|（半角英数字）
					td.td_right
						input(name="mail", type="text", class="len m-need")
						|（例:info@gmail.com ）
				tr
					td.td_top
						|お客様掲示板
					td.td_right
						textarea(name="remark", rows="2", cols="20")
	.end
		input(type="image", src="index_39.png")
//- 搜索列表
mixin _pro-search
	+_widget('当面の位置：ホーム >> 檢索')
		._pro-search.fn-clear
			mixin item
				.pro-item
					.ibox
						.img
							a(href="")
								img(src="../img/201651413453270101.jpg", alt="")
					p.t
						a(href="") ブレゲ マリーン レプリカ ラージデイト 5817ST/12/5V8
					p.p N品：23500円   
					a.btn 購入商品
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
			+item
//- 注册框
mixin _signIn
	._signIn
		fieldset
			legend ユーザ登録
			div
				ul
					li
						span 電子メール：
						input.ipt(type="text")
					li
						span パスワード：
						input.ipt(type="text")
					li
						span 
						input(type="button" value="登録")
//- 忘记密码
mixin _forgetPw
	._forgetPw
		fieldset
			legend ユーザーはパスワードを探し出して
			div
				ul
					li
						span 電子メール：
						input.ipt(type="text")
					li
						span 
						input(type="button" value="メールの送信")
//- 个人中心
mixin _info
	._info.fn-clear
		.menu.fn-left
			ul
				li.d.t メニュー
				li.d.current
					a ユーザ情報 >>
				li
					a ユーザオーダー
		.content.i-h.fn-left
			table
				tbody
					tr
						td.td_top お名前
						td.td_right 
							input(type="text",title="空ではありません")
					tr
						td.td_top フリガナ
						td.td_right 
							input(type="text",title="空ではありません")
					tr
						td.td_top 郵便番号
						td.td_right 
							input(type="text",title="空ではありません")
					tr
						td.td_top 都道府県
						td.td_right 
							select
								option(value="0" selected) 都道府県
								option(value="0") 北海道
								option(value="0") 青森県
								option(value="0") 都道府県
								option(value="0") 都道府県
								option(value="0") 都道府県
								option(value="0") 都道府県
								option(value="0") 都道府県
								option(value="0") 都道府県
								option(value="0") 都道府県
					tr
						td.td_top 詳しい住所
						td.td_right 
							input(type="text",title="空ではありません")
					tr
						td.td_top 電話番号
						td.td_right 
							input(type="text",title="空ではありません")
					tr
						td.td_top メールアドレス
						td.td_right 
							input(type="text",title="空ではありません",value="xiongdiao",readonly)
					tr
						td.td_top お客様掲示板
						td.td_right 
							textarea(name="", cols="20", rows="2")
			p
				a.submit 修正情报
//- 商品详情
mixin _pro-detail
	+_widget('当面の位置：ホーム >> スーパーコピー時計 >> カルティエ >> サントス')
		._pro-detail.fn-clear
			.pro-logo
				.pro-ibox
					.pro-img
						img(src="../img/20164291701710101.jpg", alt="")
					p.fn-clear
						a.prev(href="") 前页
						a.next(href="") 下页
				.txt(style="border:none;")
					span.pro-info ※ ご注文後、在庫を確認の上、当店よりお支払い総額とお振り替え口座名をメールにてお知らせいたします。万か一メール届かないの場合、当社まで御一報お願いします。
			.txt.fn-clear
				h1 カルティエ ミニサントス コピー ドゥモワゼル W25077X9
				table
					tbody
						tr
							td 商品型番:W25077X9
							td
								|商品評価:
								img(src="../img/pro_11.png", alt="")
						tr
							td 在庫状況:
							td 在庫あり
						tr
							td 販売価格: 19000円
							td
				.msg
					p ※ 掲載写真商品の色はお客様のパソコン環境によって実物と若干異なる場合がございますのでご了承下さい。モデルによっては若干のマイナーチェンジなどにより、掲載の画像と若干異なる箇所が見られる場合がございますのでご了承下さい。 商品の仕様は予告なく変更が行われることがございますのでご確認下さい。 掲載商品は当サイト以外でも並行販売しており、ご注文されても在庫確認のタイムラグにより商品をご用意できない場合があります。※最も手頃な価格でお気に入りの商品を購入プロの誠実品質保証.
				table
					tbody
						tr
							td 
								|数 量：
								select
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
									option(value="6") 6
									option(value="7") 7
									option(value="8") 8
									option(value="9") 9
									option(value="10") 10
							td 全国一律送料無料
				table
					tbody
						tr
							td
								a(href="")
									img(src="../img/index_3_15.png", alt="")
							td
								a(href="")
									img(src="../img/index_3_17.png", alt="")
//- FAQ
mixin _FAQ
	+_widget('当面の位置：ホーム >> FAQ')
		._FAQ.fn-clear
			.form.fn-clear
				ul
					li
						span ご質問がある場合はこちらでお問い合わせする事も可能です。
					li 
						|email:
						input(type="text",name="mail",id="mail",title="メールボックスを入力してください")
						span.red *
					li
						|名&nbsp;&nbsp;前:
						input(type="text",name="name",id="name")
						span.red *
					li
						textarea.area(name="contents", cols="20", rows="2",id="contents")
						span.red *
					li
						.mun
							ul
								li 数字认证：
								li 
									input(type="text",name="validate",id="validate")
								li
									img(src="../img/validate.png", alt="")
					li.submit
						input(type="image",name="image",id="image",src="../img/kf_06.png")
			.img
				img(src="../img/hf_03.png", alt="")
//- 品牌介绍
mixin _brand-intro
	+_widget('当面の位置：ホーム >> スーパーコピー時計 >> IWC >> ポルトギーゼ')
		._brand.fn-clear
			.img.fn-left
				img(src="../img/201642011149160101.jpg", alt="")
			.txt.fn-right
				p.ti-2 1868年｡フロレンタイン・アリオスト・ジョーンズ（Florentine Ariosto Jones ）がヨハン・ハインリッヒ・モーザー（Johann Heinrich Moser ）と協力し、スイスのシャフハウゼンで創業した。ポルトギーゼや耐磁時計インヂュニア、ポルトギーゼ、パイロットウォッチと幅広い層に支持されて続けおり、140年前に設立され現在に至るまでその伝統を守っている。
				p.ti-2 IWCはすべてを自社で作ることのできるコンプリートメーカーへ発展。
				p.ti-2 20世紀に入り、IWCは欧州から世界市場へと進出。
				p.ti-2 1930年代には現行ラインとなる大型ケースに懐中時計用ムーブメントを収めたポルトギーゼが誕生。
mixin _brand-intro1
	+_widget('当面の位置：ホーム >> スーパーコピー時計 >> IWC')
		._brand.fn-clear
			.detail
				img(src="../img/20160310212514_5797.jpg", alt="")
				span.h2 ロレックス
				a(href="") 【www.kopi6.com】
				p 1908年、創業者のハンス・ウィルスドルフによって商標登録されたロレックス。圧倒的な人気・知名度を誇る、まさに"機械式時計の王者"です。
//- 产品分类
mixin _pro-type
	._pro-type
		p 產品分類
		ul
			li
				a(href="") ポルトギーゼ




                                    

			

