//- 扶뒬못
block variables
	-var pageTitle = '扶뒬못';
	-var pageClass = 'index';

extends _page.base

block banner
	+_banner
block spec-script
	+func-banner
	+func-scroll-v
	+func-scroll-h
	+func-tab
	script(src="../plugins/carousel.js")
	script.
		var $c = $('.slideBox');
		$c.setCarousel({
			width : 1000,
			height : 426,
		});


