//- 功能类-自定义公用样式
body {
    color: #000;
    font: normal 12px/1.6 'Microsoft YaHei';
}

a:hover {
	text-decoration: none;
	transition: all .15s ease-in 0s;
}

.ta-r {
    text-align: right;
}

/* 最外层宽度 */
.wrap-980 {
	width: 980px;
	margin: 0 auto;
	position: relative;
}

.wrap-1000 {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.wrap-1100 {
	width: 1100px;
	margin: 0 auto;
	position: relative;
}

/* kopi6特殊样式 */
.border {
    border: 1px solid #b5b5b5;
}

.left {
	width: 201px;
}

.right {
    width: 778px;
    float: right;
}

.top {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.ibox {
    width: 141px;
    height: 141px;
    border: #ccc 1px solid;
    overflow: hidden;
    text-align: center;
    display: table;

    .img {
	    display: table-cell;
    	vertical-align: middle;

    	img {
    		vertical-align: middle;
		    margin: 0 auto;
		    width: 141px;
    		height: 141px;
    	}
    }
}




