//- 组件类-表单元素样式
//- 搜索框
._search {
	width: 390px;
	height: 31px;
	position: relative;
	float: left;
	margin-top: 30px;
	margin-left: 15px;
	background-image: url(../img/index_11.png);

	.key {
		width: 305px;
		height: 29px;
		border: 0;
		left: 1px;
		position: absolute;
		top: 1px;
	}

	a {
		width: 86px;
		position: absolute;
		display: block;
		right: 0;
		color: #fff;
		line-height: 29px;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
	}
}

//- 搜索列表
._search-list {
    background: #ededed;
    line-height: 35px;
    padding: 3px 18px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #282828;

    &.brand {
    	select.brands {
		    width: 100px;
    	}

    	.price {
    		width: 30px;
    		text-align: center;
    	}
    }

    select,input {
    	font-size: 13px;
    	padding: 2px;
    }

    select.type,select.brands {
    	width: 180px;
    }

    input.price {
    	width: 50px;
    	text-align: center;
    }
 
    .search-btn {
	    background: #3f3f3f;
	    color: #fff;
	    width: 60px;
	    padding: 3px;
	    font-weight: bold;
    }
}

//- 登录框
._login {
	margin-bottom: 15px;

	.title {
	    background: #393939;
	    font-size: 14px;
	    color: #fff;
	    text-align: center;
	    padding: 0 25px;
	}

	li {
		white-space: nowrap;
		line-height: 35px;
		padding: 0 10px;
	}

	ul.login-1 {
		li {
			span {
				display: inline-block;
    			width: 80px;
			}

			input.ipt {
			    width: 90px;
			    padding: 2px;
			}

			input.validate {
			    width: 44px;
			    padding: 2px;
			}

			img {
				display: inline-block;

				&.vali-img {
					cursor: pointer;
				    width: 44px !important;
				    height: 23px;
				    margin-top: 6px;
				    position: absolute;
				}
			}

			a {
				text-decoration: none;
    			color: #000;
			}
		}
	}

	ul.login-2 {
		display: none;

		em.user {
			font-size:14px;
			font-weight:bold;
			color:#f00;
		}

		&.active {
			display: block;
		}
	}
}