//- 组件类-分页样式
._paging {
    border-top: 2px solid $blue;
    line-height: 45px;
    position: relative;
    
 	span {
	    font-size: 14px;
	    font-weight: bold;
	    margin-left: 15px;
 	}

 	.list {
	    position: absolute;
	    right: 0;
	    top: 0;
    	padding-top: 10px;
    	
		a {
		    display: block;
		    width: 22px;
		    line-height: 22px;
		    text-align: center;
		    font-weight: bold;
		    border-radius: 15px;
		    margin-right: 5px;
		    border: 1px solid #b5b5b5;
		    float: left;

		    &.prev,&.next {
			    width: 70px !important;
		    }

		    &.current {
	    	    background: $blue;
    			color: #fff;
		    }
		}
 	}
}