//- 组件类-板块样式
//- ems
._ems {
	.title {
		height: 46px;
    	border-bottom: 1px solid #b5b5b5;
	}

	.demo {
		padding: 0 5px;	
	}

	ul {
		// padding: 3px;

		li {
		    height: 24px;
		    overflow: hidden;
		    line-height: 24px;
		    border-bottom: 1px dashed #999;
		}
	}
}
//- 最新制品
._pro-new {
	margin-top: 15px;
    padding-bottom: 5px;

    .title {
	    height: 50px;
    	border-bottom: 1px solid #b5b5b5;
    }

    .demo {
    	padding: 0 5px;
    }

    ul {
    	li.item {
    		border-bottom: 1px dashed #ccc;
		    position: relative;
		    padding: 3px;

		    .new-img {
	    	    display: table-cell;
    			vertical-align: middle;

    			img {
				    vertical-align: middle;
				    margin: 0 auto;
				    width: 88px;
				    height: 88px;
    			}
		    }

		    ul {
		    	position: absolute;
			    right: 0;
			    width: 100px;
    			top: 0;

    			li {
    				color: #A71C24;
				    height: 60px;
				    overflow: hidden;
    			}
		    }
    	}
    }
}
//-	 右侧版块（新闻pro-new-txt，最热商品pro-sell，人气产品pro-hot，产品标签页tab-pro-box,使用指南_handbook）
.product {
	overflow: hidden;

	//- 列表单项通用样式
	.item {
	    width: 143px;
	    float: left;
	    margin: 20px 0 20px 11px;
		
		p.t {
			height: 38px;
		    overflow: hidden;
		    padding: 5px 0;
		    
		    a {
		    	color: #777;
		    }
		}

		p.p {
			font-size: 14px;
		    color: #A71C24;
		    font-weight: bold;
		    text-align: center;
		    line-height: 25px;
		    padding-bottom: 5px;
		}

		a.btn {
			display: block;
		    width: 110px;
		    height: 29px;
		    border-radius: 4px;
		    background: #A71C24;
		    text-align: center;
		    line-height: 29px;
		    font-size: 14px;
		    color: #fff;
		    margin: 0 auto;
		}
	}
	//- 标题通用样式
	.title {
	    height: 34px;
	    border: 1px solid #b5b5b5;
	    background: #393939;
	    line-height: 34px;
	    padding-left: 35px;
	    position: relative;

	    i {
	    	display: block;
		    width: 17px;
		    height: 16px;
		    border-radius: 3px;
		    left: 10px;
		    // background: url('/images/index_31.png');
		    position: absolute;
		    top: 8px;
	    }

	    span {
    	    font-size: 14px;
		    font-weight: bold;
		    color: #fff;
	    }
	}
	// 新闻
	._pro-new-txt {
	    margin-top: 5px;
    	padding: 10px;

    	ul {
    		li {
			    float: left;
			    display: inline-block;
			    width: 378px;
			    height: 22px;
			    line-height: 22px;
			    overflow: hidden;

			    i {
		    	    display: inline-block;
				    width: 12px;
				    height: 12px;
				    background: #ff6609;
				    margin-right: 8px;
			    }
    		}
    	}
	}
	// 热卖商品
	.scroll-pro {
		// background: url('/images/index_46.png') no-repeat;
	    height: 285px;
	    width: 778px;
    	overflow: hidden;
	}
	._pro-sell{
	    width: 778px;
	    height: 279px;
	    
	    .scroll-auto {
	    	width: 10000px;
	    }

	    .scroll1,.scroll2 {
	    	float: left;
	    	display: inline-block;
			
			.item {
				background: #f4f3f3;
			    padding-top: 20px;
			    position: relative;

			    span {
				    display: inline-block;
				    width: 30px;
				    height: 30px;
				    line-height: 30px;
				    border-radius: 15px;
				    background: #A71C24;
				    color: #fff;
				    font-size: 18px;
				    font-weight: bold;
				    text-align: center;
				    position: absolute;
				}

				.ibox {
					border: 0;
				}

				p.t {
			    	height: 38px;
				    overflow: hidden;
				    padding: 5px 0;

				    a {
			    		color: #000;
				    }
				}

				p.p {
			    	font-size: 14px;
				    color: #A71C24;
				    font-weight: bold;
				    text-align: center;
				    line-height: 25px;
				    padding-bottom: 5px;
				    color: #A71C24;
				}
			}
	    }
	}
	//- 人气商品
	._pro-hot {

	}
	//- 最新商品
	._pro-new-pic {
		.pro-tab {
		    border-top: 10px solid #232323;
		    position: relative;
		    height: 28px;

		    span {
		    	display: inline-block;
			    width: 167px;
			    height: 30px;
			    line-height: 30px;
			    text-align: center;
			    color: #fff;
			    position: absolute;
			    top: -10px;
			    cursor: pointer;
		    }

		    span.t-1 {
			    left: 0px;
    			z-index: 5;
		    }

		    span.t-2 {
			    left: 150px;
    			z-index: 4;
		    }

		    span.t-3 {
			    left: 300px;
    			z-index: 3;
		    }

		    span.t-4 {
			    left: 450px;
    			z-index: 2;
		    }
		}
		
		.tab-pro-box {
			width: 3890px;
			transition: all .8s ease-in 0s;

			.box {
			    float: left;
    			width: 778px;

    			.item {
    				width: 143px;
				    float: left;
				    margin: 20px 0 20px 11px;
    			}
			}
		}
	}
	//- 使用指南
	._handbook {
		.alone-left,.alone-right {
		    width: 378px;
		    font-size: 13px;
		    line-height: 20px;
		    font-family: '宋体';

			&.alone-left {
		    	float: left;
		    }

		    &.alone-right {
		    	float: right;
		    }

		    span.red {
	    	    font-size: 14px;
			    font-family: '宋体';
			    color: #ff146c;
			    line-height: 20px;
		    }

		    span.green {
	    	    font-size: 14px;
			    font-family: '宋体';
			    color: #99bb00;
			    line-height: 20px;
		    }

		    p {
	    	    font-size: 13px;
			    font-family: '宋体';
			    line-height: 20px;
		    }
		}
	}
}
//- 品牌专区
._brand {
    border: 1px solid #b5b5b5;
    background: #fff;

    .title {
    	height: 34px;
	    border-bottom: 1px solid #b5b5b5;
	    background: #393939;
	    line-height: 34px;
	    padding-left: 35px;
	    position: relative;

	    span {
	    	font-size: 14px;
		    font-weight: bold;
		    color: #fff;
		    margin-right: 15px;
	    }

	    a {
	    	float: right;
    		padding-right: 20px;
	    }
    }

    .box {
    	a {
		    display: block;
		    float: left;
		    width: 194px;
		    height: 98px;

		    img {
		    	width: 187px;
		    }
    	}
    }
}
//- 购物车组件
._shopTrolley {
	.end {
		width: 1000px;
	    margin-top: 30px;
	    margin-bottom: 30px;
	    color: #282828;
	    font-size: 12px;
    	margin-left: 3px;

    	li {
		    width: 1000px;
		    min-height: 25px;
		    height: auto !important;
		    height: 25px;

		    .update {
		    	color: #ff0000;
		    }
    	}
	}
}

