/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-buy {
  background-image: url(../img/sprite_1.png);
  background-position: 0px -346px;
  width: 32px;
  height: 32px;
}
.icon-buyH {
  background-image: url(../img/sprite_1.png);
  background-position: -96px -346px;
  width: 32px;
  height: 32px;
}
.icon-class {
  background-image: url(../img/sprite_1.png);
  background-position: -419px -285px;
  width: 16px;
  height: 16px;
}
.icon-close {
  background-image: url(../img/sprite_1.png);
  background-position: -64px -346px;
  width: 32px;
  height: 32px;
}
.icon-goods {
  background-image: url(../img/sprite_1.png);
  background-position: -192px -346px;
  width: 32px;
  height: 32px;
}
.icon-index_02 {
  background-image: url(../img/sprite_1.png);
  background-position: 0px -285px;
  width: 403px;
  height: 24px;
}
.icon-index_46 {
  background-image: url(../img/sprite_1.png);
  background-position: 0px 0px;
  width: 778px;
  height: 285px;
}
.icon-index_57 {
  background-image: url(../img/sprite_1.png);
  background-position: 0px -309px;
  width: 201px;
  height: 37px;
}
.icon-item {
  background-image: url(../img/sprite_1.png);
  background-position: -435px -285px;
  width: 16px;
  height: 16px;
}
.icon-mail {
  background-image: url(../img/sprite_1.png);
  background-position: -128px -346px;
  width: 32px;
  height: 32px;
}
.icon-mailH {
  background-image: url(../img/sprite_1.png);
  background-position: -160px -346px;
  width: 32px;
  height: 32px;
}
.icon-mail_small {
  background-image: url(../img/sprite_1.png);
  background-position: -403px -285px;
  width: 16px;
  height: 16px;
}
.icon-tab_03 {
  background-image: url(../img/sprite_1.png);
  background-position: -368px -309px;
  width: 167px;
  height: 30px;
}
.icon-tab_06 {
  background-image: url(../img/sprite_1.png);
  background-position: -201px -309px;
  width: 167px;
  height: 30px;
}
.icon-up {
  background-image: url(../img/sprite_1.png);
  background-position: -32px -346px;
  width: 32px;
  height: 32px;
}
.icon-upH {
  background-image: url(../img/sprite_1.png);
  background-position: -224px -346px;
  width: 32px;
  height: 32px;
}
