/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-index_02 {
  background-image: url(../img/sprite_1.png);
  background-position: -200px -285px;
  width: 403px;
  height: 24px;
}
.icon-index_31 {
  background-image: url(../img/sprite_1.png);
  background-position: -603px -285px;
  width: 17px;
  height: 16px;
}
.icon-index_46 {
  background-image: url(../img/sprite_1.png);
  background-position: 0px 0px;
  width: 778px;
  height: 285px;
}
.icon-index_57 {
  background-image: url(../img/sprite_1.png);
  background-position: -200px -309px;
  width: 201px;
  height: 37px;
}
.icon-star {
  background-image: url(../img/sprite_1.png);
  background-position: 0px -285px;
  width: 200px;
  height: 200px;
}
.icon-tab_03 {
  background-image: url(../img/sprite_1.png);
  background-position: -401px -309px;
  width: 167px;
  height: 30px;
}
.icon-tab_06 {
  background-image: url(../img/sprite_1.png);
  background-position: -568px -309px;
  width: 167px;
  height: 30px;
}
