.sprite_2 {
  background-image: url(sprite_2.png);
}


.sprite_2__buy {
  background-position: 0px -346px;
  width: 32px;
  height: 32px;
}
.sprite_2__buyH {
  background-position: -96px -346px;
  width: 32px;
  height: 32px;
}
.sprite_2__class {
  background-position: -419px -285px;
  width: 16px;
  height: 16px;
}
.sprite_2__close {
  background-position: -64px -346px;
  width: 32px;
  height: 32px;
}
.sprite_2__goods {
  background-position: -192px -346px;
  width: 32px;
  height: 32px;
}
.sprite_2__index_02 {
  background-position: 0px -285px;
  width: 403px;
  height: 24px;
}
.sprite_2__index_46 {
  background-position: 0px 0px;
  width: 778px;
  height: 285px;
}
.sprite_2__index_57 {
  background-position: 0px -309px;
  width: 201px;
  height: 37px;
}
.sprite_2__item {
  background-position: -435px -285px;
  width: 16px;
  height: 16px;
}
.sprite_2__mail {
  background-position: -128px -346px;
  width: 32px;
  height: 32px;
}
.sprite_2__mailH {
  background-position: -160px -346px;
  width: 32px;
  height: 32px;
}
.sprite_2__mail_small {
  background-position: -403px -285px;
  width: 16px;
  height: 16px;
}
.sprite_2__tab_03 {
  background-position: -368px -309px;
  width: 167px;
  height: 30px;
}
.sprite_2__tab_06 {
  background-position: -201px -309px;
  width: 167px;
  height: 30px;
}
.sprite_2__up {
  background-position: -32px -346px;
  width: 32px;
  height: 32px;
}
.sprite_2__upH {
  background-position: -224px -346px;
  width: 32px;
  height: 32px;
}
